/* Basic navbar styling */
.navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #090909;
    padding: 10px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    color: rgb(71, 235, 181);
}

.menu-icon {
    font-size: 1.5rem;
    margin-right: 20px;
    cursor: pointer;
    color: rgb(71, 235, 181);
}

.nav-links a {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(71, 235, 181);
}

.search-bar input {
    padding: 5px;
    border: 1px solid rgb(212, 210, 210); /* Add border style */
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icons span {
    margin-right: 10px;
}
