/* Basic navbar styling */
.navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #090909;
    justify-content: space-between; /* Spacing between items */
    padding: 10px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    color: rgb(71, 235, 181);
}

.menu-icon {
    font-size: 1.5rem;
    margin-right: 20px;
    cursor: pointer;
    color: rgb(71, 235, 181);
}

.nav-links a {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(71, 235, 181);
    justify-content: space-between; /* Spacing between items */
}

.search-bar input {
    padding: 5px;
    border: 1px solid rgb(212, 210, 210); /* Add border style */
    border-radius: 5px;
    justify-content: space-between; /* Spacing between items */
    /* margin-right: 10px; */
    flex: 1; /* Takes up remaining space */
    text-align: center; /* Align input to the center */
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-content: space-between; /* Spacing
    flex: 1; /* Takes up remaining space */
    text-align: center; /* Align input to the 
}

.icons span {
    /* margin-right: 10px; */
    display: flex;
    align-items: center;
}
